<div class="yi-footer">
    <div class="grid-row">
        <div class="grid-col_4_1 foot-item">
            <h4>网站导航</h4>
            <div class="foot-nav">
                <a href="javascript:;">顶顶酒店</a>
                <a href="javascript:;">顶顶影院</a>
                <a href="javascript:;">顶顶天气</a>
                <a href="javascript:;">顶顶酒店</a>
                <a href="javascript:;">顶顶影院</a>
                <a href="javascript:;">顶顶天气</a>
            </div>
        </div>
        <div class="grid-col_4_1 foot-item">
            <h4>关于顶顶</h4>
            <div class="foot-about">
                <a title="顶" href="javascript:;">顶</a>
                <a title="顶" href="javascript:;">顶</a>
                <a title="商" href="javascript:;">商</a>
                <a title="务" href="javascript:;">务</a>
            </div>
        </div>
        <div class="grid-col_4_2 foot-item">
            <h4>顶顶商务</h4>
            <div class="yi-desc">
                <p>顶顶1258网（www.dd1258.com)，是上海顶顶商务服务有限公司旗下的一个大数据服务平台，是专属为中小微企业提供线上线下多元化服务的综合性门户网站。</p>
            </div>
        </div>
        <div class="grid-col_4_4 foot-copyright">
            <p>2017 @YIRAN</p>
        </div>
    </div>
</div>